.gamePage{
    min-height: 90vh;
    color: antiquewhite;
    background-color: #131222;
    background-image: url('https://img.sector.sk/files/recenzie/202132422143095//paradise-lost-36126-41-1920.jpg');
}