#startScreen {
  color: #9c50c2;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#startScreen div::before{
  text-transform: uppercase;
  content: "Press space bar to start the game...";
}

@media only screen and (max-width : 769px){
  #startScreen div::before{
    content: "We are Sorry :( This game is not supported for Mobile / Tablet Devices :(";
  }
}