//colors

$scissors-gradient: hsl(39, 89%, 49%);
$paper-gradient: hsl(230, 89%, 62%);
$rock-gradient: hsl(349, 71%, 52%);


//text

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

//Background
$background-gradient: radial-gradient(circle, hsl(214, 47%, 23%),
hsl(237, 49%, 15%)
);

//Images

$imageP:"https://cdn5.vectorstock.com/i/1000x1000/91/89/rock-paper-scissors-game-vector-3959189.jpg";
$imageS:"https://cdn5.vectorstock.com/i/1000x1000/91/89/rock-paper-scissors-game-vector-3959189.jpg";
$imageR:"https://cdn5.vectorstock.com/i/1000x1000/91/89/rock-paper-scissors-game-vector-3959189.jpg";

